<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Avocat JEE Application</display-name>
    
    <servlet>
        <servlet-name>ChatbotServlet</servlet-name>
        <servlet-class>mvcController.ChatbotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatbotServlet</servlet-name>
        <url-pattern>/chatbot</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>mvcController.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
</web-app>
